/* Global Styles */

$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
@mixin textBeautiful($firstColor, $secColor, $thirdColor) {
  background: linear-gradient(to right, $firstColor, $secColor,$thirdColor) fixed;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Vazir", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: #fff;
  min-height: 100%;
  color: #333;
  direction: rtl !important;


  &::-webkit-scrollbar {
    background: #646468;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #21bb9a;
    border-radius: 4px;
  }

  a {
    color: $primary-color;
    text-decoration: none !important;
    direction: rtl !important;
  }

  ul {
    list-style: none;
  }

  img {
    width: 100%;
  }
}
.login {
  overflow: auto;
  min-height: 100vh;
  background: rgb(0, 134, 246);
  background: radial-gradient(
    circle,
    rgba(0, 134, 246, 1) 0%,
    rgba(81, 230, 240, 1) 100%
  );
}
.register {
  overflow: auto;
  min-height: 100vh;
  background: rgb(81, 230, 240);
  background: radial-gradient(
    circle,
    rgb(65, 75, 219) 0%,
    rgb(0, 250, 208) 100%
  );
}
/* Utilities */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(35rem + 15vw);
  border-radius: 4rem;
  margin: 10rem  auto 4rem auto;
  overflow-x: hidden;
  padding: 1rem 3rem;
  background-color: rgba(253, 253, 253, 1);
  box-shadow: 0 2px 43px 1px rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.06);
  &.detail{
    margin:4rem auto;
  }
  &.auth {
    max-width: calc(500px + 10vw);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-group {
    padding: 3rem 1.5rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Text Styles*/
.x-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

.text-dark {
  color: $dark-color;
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.btn {
  position: relative;
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  font-family: "Vazir", sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  &:hover {
    box-shadow: 0 8px 6px -6px black;
  }
  .spinner {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 1rem;
    border: 3px solid white;
    border-radius: 50%;
    border-top-color: $dark-color;

    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
   
  }
  

  &.btn-primary,
  &.bg-primary,
  &.badge-primary,
  &.alert-primary {
    background: $primary-color;
    color: #fff;
  }

  &.btn-light,
  &.bg-light,
  &.badge-light,
  &.alert-light {
    background: $light-color;
    color: #333;
  }

  &.btn-dark,
  &.bg-dark,
  &.badge-dark,
  &.alert-dark {
    background: $dark-color;
    color: #fff;
  }

  &.btn-danger,
  &.bg-danger,
  &.badge-danger,
  &.alert-danger {
    background: $danger-color;
    color: #fff;
  }

  &.btn-success,
  &.bg-success,
  &.badge-success,
  &.alert-success {
    background: $success-color;
    color: #fff;
  }

  &.btn-white,
  &.bg-white,
  &.badge-white,
  &.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
  }

  &.btn:hover {
    opacity: 0.8;
  }
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $light-color;
  color: #333;
}

.alert {
  position: fixed;
  top:10%;
  left: 50%;
  margin-top: 1rem;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  padding: 0.8rem;
  opacity: 0.9;
  background: $light-color;
  color: #333;
  width: 30%;
  font-size: 1.2rem;
  border-radius: 6px;
  &.alert-danger {
    background-color: $danger-color;
    color: #fff;
  }
  &.alert-success {
    background: $success-color;
    color: #fff;
  }
  &.alert-dark {
    background: $dark-color;
    color: #fff;
  }
  &.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
  }
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
/* .dark-overlay {
  background-color: rgba(0, 0, 0, 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  .form-group {
    margin: 0.6rem 0;
    width: 100%;
  }

  .form-text {
    display: inline-block;
    margin-top: 0.3rem;
    margin-right: 1rem;
    color: #888;
  }
  & input[type="text"],
  & input[type="email"],
  & input[type="password"],
  & input[type="date"],
  & select,
  & textarea {
    font-family: "Vazir", sans-serif !important;
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10rem;
    outline: none;
  }

  & input[type="email"],
  & input[type="password"] {
    direction: ltr;
  }

  & input[type="password"] {
    letter-spacing: 0.3rem;
  }
  & input::placeholder {
    letter-spacing: 0;
    direction: rtl;
  }

  & input[type="submit"],
  button {
    font: inherit;
  }

  &-group.social-input {
    display: inline-flex;
  }

  &-group.social-input i {
    padding: 0.5rem;
    width: 4rem;
  }

  &-group.social-input i.fa-twitter {
    color: #38a1f3;
  }

  &-group.social-input i.fa-facebook {
    color: #3b5998;
  }

  &-group.social-input i.fa-instagram {
    color: #a534b4;
  }

  &-group.social-input i.fa-youtube {
    color: #c4302b;
  }

  &-group.social-input i.fa-linkedin {
    color: #0077b5;
  }
}

.table th,
.table td {
  padding: 1rem;
  text-align: right;
}

.table th {
  background: $light-color;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;
  backdrop-filter: blur(10px);

  h1 {
    position: absolute;
    display: inline-flex;
    font-size: 1.5rem;
    top: 0.8rem;
    right: 0.8rem;

    a {
      padding: 1.5rem 2rem;
      color: $light-color !important;
      transition: all 0.1s ease-in-out !important;
      background-color: black;
      border-radius: 0 30px 0 30px;
      &:hover {
        color: white !important;
      }
      &:hover::after {
        top: 0;
        left: 0;
      }
      &::after {
        content: "";
        color: $light-color !important;
        transition: all 0.2s ease-in;
        background-color: $primary-color;
        display: inline-flex;
        height: 95%;
        width: 95%;
        position: absolute;
        top: 10px;
        left: -10px;
        z-index: -1;
        border-radius: 0 30px 0 30px;
      }
    }
  }
  ul {
    display: flex;
    margin-right: auto;

    li {
      display: inline-flex;
      cursor: pointer;
      padding: 0;
      margin: 0 0.25rem;
      border-radius: 0.3rem;
      background-color:#0077b5;

      &:hover {
        background-color: #3f4449dc;
        a {
          color: $primary-color;
        }
      }
      &:first-child {
        background-color: $danger-color;
        transition: box-shadow 0.1s ease-in;
        &:hover {
          box-shadow: 0 8px 6px -6px black;
        }
      }
      a {
        padding: 0.7rem 1rem;
        color: #fff;
        margin: 0 0.3rem;
        

        &:hover {
          color: #fff !important;
        }
      }
    }
  }

  .welcome span {
    margin-right: 0.6rem;
  }
}

/* Landing Page */
.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;

  .slider {
    display: flex;
    position: absolute;
    transition: all 1s ease-in-out; 
    
  }
  .background-image {
    flex: 1;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing-inner {
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1,
    p {
      @include textBeautiful(
        hsl(212, 100%, 60%),
        hsl(143, 100%, 60%),
        hsl(170, 100%, 45%)
      );
    }
  }
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "github github";
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: $dark-color;
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: $primary-color;
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: $light-color;
  color: $primary-color;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}


/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin: 4rem auto ;
    padding: 1rem 0.5rem;
    width: min(80%,95%);
    .container-group {
      padding: 1rem 0;
      h1,
      p {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
      }
     
      .form {
        .form-group {
          align-content: center;
          align-items: center;
          justify-content: center;
        }
        button & a {
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          width: 100%;
          justify-content: center;
          margin: auto !important;
        }
      }
    }
  }
  
  .alert {
    width: 50%;
    font-size: 0.8rem;
    top:20vw;
    padding: .5rem;
    text-align: center;
  }
  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 2rem;
  }

  .large {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 0.8rem;
  }

  /* Navbar */
  .navbar {
    display: flex;
    text-align: center;
  
    h1 {
      margin-bottom: 1rem;
      font-size: 1rem;

      a {
        padding: calc(1rem + 3%);
      }
    }
    ul {
      mask-image: linear-gradient(
        to right,
        transparent,
        black 10px,
        black 90%,
        transparent
      );
      width: 70%;
      overflow-x: auto;
      white-space: nowrap;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        display: inline-flex;
        cursor: pointer;
        padding: 0;
        margin: 0 0.25rem;
        border-radius: 0.3rem;
        // &:last-child {
        //   display: none;
        // }

        a {
          padding: 0.5rem 0.7rem;
          color: #fff;
        }
      }
    }
  }

  .navbar .welcome {
    display: none;
  }

  .landing-inner {
    h1 {
      font-size: 1.7rem;
    }
    a {
      padding: 0.4rem 1rem;
    }
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }

  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

/* Spinner style */
.spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgb(211, 228, 227);
  opacity: .6;
  z-index: 4;
  .spinner {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 3px solid $primary-color;
    border-radius: 50%;
    border-top-color: $light-color;
    margin: auto;
    animation: spin 1s ease-in-out infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
.cool-bg {
  position: relative;
  min-height: 100vh;
  overflow: auto;

  &.login {
    background: rgb(0, 134, 246);
    background: radial-gradient(
      circle,
      rgba(0, 134, 246, 1) 0%,
      rgba(81, 230, 240, 1) 100%
    );
  }
  &.register {
    background: rgb(81, 230, 240);
    background: radial-gradient(
      circle,
      rgba(81, 230, 240, 1) 0%,
      rgba(0, 38, 83, 1) 100%
    );
  }
}
